extends layout

block content
  h6=title


  form(method='POST' action='')
    div.form-group
      label(for='first_name') First Name:
      input#first_name.form-control(type='text', placeholder='First name (Christian)' name='first_name' required='true' value=(undefined===student ? '' : student.first_name) )
      label(for='last_name') Last Name:
      input#last_name.form-control(type='text', placeholder='Last name (Surname)' name='last_name' required='true' value=(undefined===student ? '' : student.last_name))
    //iv.form-group
      label(for='date_of_birth') Date of birth:
      input#date_of_birth.form-control(type='date', name='date_of_birth' value=(undefined===student ? '' : student.date_of_birth_yyyy_mm_dd) )
    //div.form-group
      label(for='date_of_death') Date of death:
      input#date_of_death.form-control(type='date', name='date_of_death' value=(undefined===student ? '' : student.date_of_death_yyyy_mm_dd) )
    div.form-group
      label(for='department') Department:
      input#department.form-control(type='text', name='department' required='true' value=(undefined===student ? '' : student.department) )
    div.form-group
      label(for='course') Course:
      input#course.form-control(type='text', name='course' required='true' value=(undefined===student ? '' : student.course) )
    div.form-group
      label(for='enrollment_no') Enrollment No:
      input#enrollment_no.form-control(type='text', name='enrollment_no' required='true' value=(undefined===student ? '' : student.enrollment_no) )
    
    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg